* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lora", serif;
}
html {
  font-family: "Lora", serif;
}
body {
  background: #eee;
  font-family: "Lora", serif !important;
}

/*** Svg component ***/
#svgcenter {
  margin-top: 18%;
}

/*** Card Component ***/

.dictionary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 4rem auto;
  max-width: 90%;
}
.dictionary > .term {
  text-align: center;
  max-width: 17rem;
  margin-bottom: 3rem;
  padding: 2rem;
  border-radius: 3px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: all 100ms ease-in-out;
}
.dictionary > .term > dt {
  margin-bottom: 1rem;
}
dt {
  color: #000000;
  line-height: 1;
}
dt span {
  font-size: 200%;
  font-weight: 900;
}
.emoji {
  margin: 0 auto 20px;
  display: block;
  font-size: 400%;
}
dd {
  font-size: 92.5%;
  margin-left: 0;
}
dd dt {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  font-weight: 600;
  font-size: inherit;
}
dd dl {
  font-size: 90%;
  margin: 1rem auto 0 auto;
  letter-spacing: 0.33px;
  max-width: 15rem;
}
dd dl .term {
  margin-bottom: 1rem;
}

/*** Header ***/

.header-container {
  margin: 0 -16px;
}

/* update and event section */
.update-box {
  -webkit-box-shadow: 9px 7px 10px -10px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 9px 7px 10px -10px rgba(0, 0, 0, 0.46);
  box-shadow: 9px 7px 10px -10px rgba(0, 0, 0, 0.46);
}
.blink {
  animation: blinker 2s linear infinite;
  color: #1c87c9;
}
@keyframes blinker {
  100% {
    opacity: 0;
  }
}

/*** Section Title ***/

.sec-title {
  text-align: center;
  text-transform: uppercase;
  margin: 60px 0px 40px 0px;
  font-weight: 800;
  font-size: 36px;
}

/*** Section Content ***/

.content {
  text-align: center;
  color: #615c5c;
}

/*** NavBar ***/

nav {
  background-color: white;
  margin: auto -16px;
  padding: 25px 32px;
}
li {
  margin: auto 6px;
  padding: 8px 4px;
}
li a {
  text-decoration: none;
  color: #000000;
  font-size: 1em;
  font-weight: 500;
}

/*** Latest Updates ***/

.box {
  margin: 1em auto;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}
.marquee {
  margin: 1em 0em;
  padding: 0 1em;
  line-height: 1.5em;
  font: 1em "Segoe UI", Tahoma, Helvetica, Sans-Serif;
  top: 6em;
  position: relative;
  box-sizing: border-box;
  animation: marquee 15s linear infinite;
}
.box > p:hover {
  animation-play-state: paused;
}
/* Make it move! */
@keyframes marquee {
  0% {
    top: 8em;
  }
  100% {
    top: -11em;
  }
}

/*** Divider Component ***/

.divider {
  position: relative;
  margin-top: 40px;
  height: 1px;
}

.div-transparent:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(
    to right,
    transparent,
    rgb(48, 49, 51),
    transparent
  );
}
.div-dot:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -9px;
  left: calc(50% - 9px);
  width: 18px;
  height: 18px;
  background-color: goldenrod;
  border: 1px solid rgb(48, 49, 51);
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px white, 0 0 0 4px white;
}

/*** Achivement- Section ***/

.achivement-wrap {
  margin: 26px 0px;
}
.counter-number {
  font-size: 40px;
  font-weight: 900;
}

/*** Connect Page ***/

/* Responsive HeaderImgae */

.responsive-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin: 10px 0px;
}
.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
.button-section {
  display: flex;
  justify-content: center;
  margin: 40px 0px;
}
.BUTTON_FKX {
  background: #845ec2;
  color: #eeeeee;
  font-family: Open Sans;
  font-size: 19px;
  font-weight: 300;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin: 0 30px;
}

.BUTTON_FKX:hover {
  background: #1e62d0;
  background-image: -webkit-linear-gradient(top, #1e62d0, #337fed);
  background-image: -moz-linear-gradient(top, #1e62d0, #337fed);
  background-image: -ms-linear-gradient(top, #1e62d0, #337fed);
  background-image: -o-linear-gradient(top, #1e62d0, #337fed);
  background-image: -webkit-gradient(to bottom, #1e62d0, #337fed);
  text-decoration: none;
  color: white;
}

/*** Guideline Page ***/

.guideline-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin: 10px 0px;
}

/*** Faq Section ***/
.accordion .card-header:after {
  font-family: "FontAwesome";
  content: "\f068";
  float: right;
}
.accordion .card-header.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\f067";
}
.collapse-container {
  padding: 20px 60px;
}

/*** Events Section ***/

.card-block {
  font-size: 1em;
  position: relative;
  margin: 0;
  padding: 1em;
  border: none;
  border-top: 1px solid rgba(34, 36, 38, 0.1);
  box-shadow: none;
}

.card {
  font-size: 1em;
  overflow: hidden;
  padding: 5;
  border: none;
  border-radius: 0.28571429rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  margin-top: 20px;
}

.btn {
  margin-top: auto;
}

/*** Event Details ***/
.boxShadow {
  width: 55%;
  margin: 2rem 1rem;
  padding: 10px 40px;
  margin: 1rem auto;

  background: #f7f7f7;
  box-shadow: -6px -7px 51px #dadada;
}

/*** Footer ***/

.footer-bs {
  background-color: #3c3d41;
  padding: 60px 40px;
  color: rgba(255, 255, 255, 1);
  margin: 0px -16px;
}
.footer-bs .footer-brand,
.footer-bs .footer-nav,
.footer-bs .footer-social,
.footer-bs .footer-ns {
  padding: 10px 25px;
}
.footer-bs .footer-nav,
.footer-bs .footer-social,
.footer-bs .footer-ns {
  border-color: transparent;
}
.footer-bs .footer-brand h2 {
  margin: 0px 0px 10px;
}
.footer-bs .footer-brand p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
}

.footer-bs .footer-nav ul.pages {
  list-style: none;
  padding: 0px;
}
.footer-bs .footer-nav ul.pages li {
  padding: 5px 0px;
}
.footer-bs .footer-nav ul.pages a {
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  text-transform: uppercase;
}
.footer-bs .footer-nav ul.pages a:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}
.footer-bs .footer-nav h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.footer-bs .footer-nav ul.list {
  list-style: none;
  padding: 0px;
}
.footer-bs .footer-nav ul.list li {
  padding: 5px 0px;
}
.footer-bs .footer-nav ul.list a {
  color: rgba(255, 255, 255, 0.8);
}
.footer-bs .footer-nav ul.list a:hover {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-bs .footer-social ul {
  list-style: none;
  padding: 0px;
}
.footer-bs .footer-social h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.footer-bs .footer-social li {
  padding: 5px 4px;
}
.footer-bs .footer-social a {
  color: rgba(255, 255, 255, 1);
}
.footer-bs .footer-social a:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

.footer-bs .footer-ns h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 10px;
}
.footer-bs .footer-ns p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
}
.fas {
  cursor: pointer;
}
.footer-address {
  list-style-type: none;
}

@media (min-width: 768px) {
  .footer-bs .footer-nav,
  .footer-bs .footer-social,
  .footer-bs .footer-ns {
    border-left: solid 1px rgba(255, 255, 255, 0.1);
  }
}

/* tinkering */

/* .App {
  text-align: center;
} */

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
