.admin-events-container {
  background: rgba(173, 216, 230, 0.125);
  min-height: 100vh;
  height: max-content;
  flex: 1;
}
.admin-events-container .heading{
  font-weight: 700;
}
.admin-events-container .control-bar{
  display: flex;
  justify-content: space-between;
}
@media(max-width:360px){
  .admin-events-container .control-bar{
    flex-direction: column;
    align-items: center;
    margin-left: 0.25rem !important;
    margin-right: 0.25rem !important;
  }
  .admin-events-container .control-bar .btn{
    width: 100%;
    margin-bottom: 0.75rem;
  }
  .admin-events-container .control-bar .dropdown-menu{
    width: 100%;
  }
}
.admin-events-container .total-events{
  font-weight: 600;
}
.admin-events-container .events-list-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
.admin-events-container .event-item{
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.151);
  border-radius: 6px;
  width: 480px;
  height: 180px;
  padding: 0.5rem;
  margin: 1rem;
  overflow: hidden;
}
.admin-events-container .event-item .date{
  position: absolute;
  font-size: 0.7rem;
  padding: 0.225rem 0.45rem 0.2rem 0.275rem;
  background: #1F51FF;
  border-bottom-right-radius: 3px;
  top: 0;
  left: 0;
}
.admin-events-container .event-item img{
  width:  160px;
  height: 120px;
  border-radius: 6px;
  object-fit: contain;
}
.admin-events-container .event-item i{
  top: 0.4rem;
  right: 0.75rem;
  cursor: pointer;
  color: #1F51FF;
  font-size: 1.3rem;
}
.admin-events-container .event-item .title{
  font-weight: 600;
  padding: 0 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
          line-clamp: 5; 
  -webkit-box-orient: vertical;
}
.admin-events-container .event-item .dropdown-item{
  font-weight: 800;
}

@media(max-width:800px){
  .admin-events-container .event-item:first-child{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  .admin-events-container .event-item{
    margin: 0;
    border-radius: 0;
    padding: 0.75rem 0.25rem;
    box-shadow: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 100;
  }
  .admin-events-container .event-item img{
    height: 100px !important;
    width: 150px !important;
  }
  .admin-events-container .event-item .title{
    -webkit-line-clamp: 4;
            line-clamp: 4; 
    padding: 0 0.2rem 0 0.5rem;
  }
}