@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Karla:400i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Crete+Round|Pacifico|Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Poiret+One|Titillium+Web&display=swap');

.team_text{
  font-variant: small-caps;
font-weight: bold;
font-size:40px;
color:#234271e6;;
text-align:center;
padding:0 0 4% 0;
}